.copy {
    background-color: #0275d8;
    margin-top: 20px;
}

.home {
    background-color: #f0ad4e;
}


@media only screen and (max-width: 600px) {


    .copy,
    .home {
        width: 80%;
        display: block;
    }

}